.category-lists {
    /* border: 2px solid red; */
}

.category-list-header h2 {
    text-align: center;
    font-size:45px;
    font-weight: bold;
    color: white;
    letter-spacing: 1.4px;
}

.category-list {
    display: flex;
    padding: 45px 0 150px 0;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.category-list .category-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 310px;
    overflow: hidden;
    height: 285px;
    border-radius: 15px;
    background-color: black;
    color: black;
    margin: 20px;
    border: 1px solid white;
}

.category-list .category-item:hover {
    box-shadow: 5px 5px 20px 15px rgb(17, 17, 17);

}

.category-list .category-item div img {
    width: 100px;
    display: flex;
    margin: auto;
}

.category-item-photo {
    display: flex;

}

.category-item-photo i {
    color: white;
    display: flex;
    margin: auto;
    font-size: 40px;


}

.category-list .category-item div p {
    /* word-wrap: wrap; */
    color: white;
    text-align: center;
    margin-top: 30px;
}