.employee-list {
    margin: 60px 0;
    display: flex;
    justify-content: space-evenly;
}


/* SEARCH SECITON  */
.employee-list-filter-section {
    border: 1px solid grey;
    height: 100%;
    padding: 0 20px;
    border-radius: 10px;


}

.employee-list-search {
    border-bottom: 1px solid grey;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px 0;

}

.employee-list-search div {
    display: flex;
    align-items: center;
    justify-content: center;

}

.employee-list-search div p {
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 17px;
}

.employee-list-search div input {
    width: 250px;
    padding: 10.2px 15px;
}

.employee-list-search div i {
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    padding: 7px 10px;
    background-color: #6031a8;
    color: white;
    font-weight: bold;

}

/* FILTER SECTION  */
.employee-list-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.employee-list-filter div p {
    font-weight: bold;
    font-size: 17px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.employee-list-filter div p i {
    margin-right: 6px;
    color: wheat;
}

.employee-list-filter div span {
    display: block;
    font-weight: 600;
    font-size: 15px;

}

.employee-list-filter div input {
    width: 290px;
    margin: 10px 0;
    padding: 10.2px 15px;
}

.employee-list-filter div input[type="submit"] {
    background-color: #6031a8;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border-radius: 14px;

}








/* NEXT DETAILS  */

.top-employee-sectionn {
    max-width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transition: scroll 0.3s ease-in-out;

}

.top-employee-detailss {
    border: 1px solid rgb(56, 56, 56);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 280px;
    margin: 0 10px 20px 10px;
    padding: 10px;
    background-color: rgb(24, 24, 24);

}

.top-employee-user-detaill {
    text-align: center;
    margin: 10px;
}

.top-employee-user-detaill h3 {
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 600;

}

.top-employee-user-detaill p:nth-child(3),
.top-employee-user-detaill p:nth-child(4),
.top-employee-user-detaill p:nth-child(5) {
    color: rgb(202, 202, 202);
    margin: 14px 0;
    font-weight: 400;
    font-size: 17px;

}

.top-employee-user-detaill p:nth-child(4),
.top-employee-user-detaill p:nth-child(5) {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.top-employee-user-detaill p:nth-child(4) i,
.top-employee-user-detaill p:nth-child(5) i {
    font-size: 18px;
    margin-inline-end: 3px;
}

.top-employee-user-detaill a button {
    padding: 7px 80px;
    border-radius: 20px;
    background-color: #6031a8;
    border: 2px solid #6031a8;
    color: white;
    cursor: pointer;
    font-weight: bold;
    text-transform: none;
    font-size: 13px;
    margin-top: 15px;
    outline: none;
}

.top-employee-imgg img {
    width: 100px;
    height: 100px;
    border-radius: 70%;
    margin: 10px;
}