.main-footer {
  border: 2px solid white;
  background-color: white;
  color: black;
}

.footer {
  display: flex;
  margin: 100px 70px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer-section1-logo img {
  width: 180px;
  margin: 10px 0 0 0;

}

.footer-section1-para {
  font-size: 16px;
  margin: 20px 0;
  line-height: 24px;
  color: rgb(57, 57, 57);
  letter-spacing: 0.5px;
}

.footer-section1-search {
  margin: 30px 0;

}

.footer-section1-search input {
  width: 250px;
  height: 40px;
  outline: none;
  border: 1px solid rgb(194, 186, 186);
  border-radius: 45px;
  padding: 0 18px;
}

.footer-section1-search button {
  border-radius: 45px;
  background-color: #6031a8;
  font-size: 14px;
  color: white;
  outline: none;
  border: none;
  width: 90px;
  letter-spacing: 0.6px;
  height: 40px;
}

.footer-section1-search input::placeholder {
  font-size: 14px;
  color: grey;
}

.footer-section1-media-icons {
  display: flex;
  padding: 20px 0;
  align-items: center;

}

/* OTHER CATEGORY  */

.footer-section1-media-icons a {
  font-size: 19px;
  margin-inline-end: 30px;
  color: #6031a8;
}

.footer-section2 {
  display: flex;
  flex-direction: column;
}

.footer-section2 h2 {
  font-weight: bold;
  font-size: 24px;
  margin: 10px 0;
  color: rgb(34, 34, 34);
}

.footer-section1-media-icons {
  display: flex;
  padding: 20px 0;
  align-items: center;

}




.footer-section1-media-icons a {
  font-size: 19px;
  margin-inline-end: 30px;
  color: #6031a8;
}


.footer-section1-cat-list {
  line-height: 33px;
}

.footer-section1-cat-list p {
  font-size: 16px;
  color: rgb(57, 57, 57);
}

/* COPY RIGHT BAR  */


.copyright-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid rgb(175, 173, 173);
  padding: 8px 0;
  background-color: white;
  color: rgb(72, 72, 72);
}

.copyright-bar-para {
  font-size: 17px;
}

.copyright-bar-imgs img {
  width: 65px;
  margin: 8px;
}