.main-navbar-header-img img {
  background-size: cover;
  background-position: center;
  height: 100vh;
  max-width: 100%;
}

.main-navbar {
  display: flex;
  border: 1px solid grey;
  padding: 20px 70px;
  align-items: center;
  justify-content: space-between;
}

/* FOR STICKY NAVBAR   */
.main-navbar.sticky-nav-come {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  color: black;
  box-shadow: 0px 0px 7px black;
  background-color: white;
  z-index: 10;
}

.main-navbaar-list1,
.main-navbaar-list2 {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.main-navbar-list1-list {
  padding: 0 20px;

}

.main-navbar-list2-list {
  padding: 0 35px;
}

.main-navbar-list1-list ul,
.main-navbar-list2-list ul {
  display: flex;
  align-items: center;
  /* border: 2px solid red; */
  justify-content: center;
  text-align: center;
  list-style: none;
}

.main-navbar-list1-list ul a,
.main-navbar-list2-list ul a {
  text-decoration: none;
  padding: 20px;
  cursor: pointer;
  color: rgb(235, 235, 235);
  font-size: 19px;
  font-weight: 600;

}


/* user logo  */

.main-navbar-list2-list ul i {
  font-size: 30px;
  cursor: pointer;
  font-weight: bold;
}

.dropdown-list {
  position: relative;
}

.drop-down-list-arrow {
  margin-left: 5px;
}


.navbar-dropdown-menu {
  position: absolute;
  top: 60px;
  /* border: 2px solid red; */
  width: 270px;
  left: -200px;
  background-color: #6031a8;
  flex-direction: column;
  list-style: none;
}

.navbar-dropdown-menu li {
  border-bottom: 1px solid white;
  padding: 15px 0 !important;
  width: 100%;
  text-align: start;
}


.navbar-dropdown-menu li:hover {
  background-color: black;
  color: white;
}

.navbar-dropdown-menu li a {
  font-size: 16px;
  padding: 20px !important;
  color: white;

  text-decoration: none;
}

.navbar-dropdown-menu li a span {
  /* border: 2px solid red; */
  display: block;
  padding: 5px 20px;
  font-size: 16px;
}

.navbar-dropdown-menu li a span:nth-child(1) {
  font-weight: bold;

}

.navbar-dropdown-menu li a span:nth-child(2) {
  font-weight: 400 !important;

}


.sticky-nav-come .main-navbar-list1-list ul a,
.sticky-nav-come .main-navbar-list2-list ul a {
  color: rgb(56, 56, 56);
}



.main-navbar-list1-logo-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ACTIVE CLASS  */
.main-navbar-list1-list ul .active,
.main-navbar-list2-list ul .active {
  color: #6031a8;
}

.main-navbar-list1-logo-icon i {
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 35px;


}

.sticky-nav-come .main-navbar-list1-logo-icon i {
  color: black;
}

.main-navbar-list1-logo-icon img {
  width: 220px;
  padding: 0 30px;
}

.main-navbar-list2-button button {
  padding: 9px 12px;
  border: none;
  outline: none;
  position: relative;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  border-radius: 7px;
  background-color: #6031a8;
}

.main-navbar-list2-button button::after {
  position: absolute;
  content: '';
  width: 1.1px;
  height: 35px;
  top: 0;
  cursor: initial;
  background-color: #6f6e6e;
  left: -20px;
}

@media screen and (max-width:1120px) {
  .main-navbar-list1-list ul {

    display: none;
    /* flex-direction: column;
    align-items: start;
    left: -100%;
    top: 0px;
    width: 300px;
    z-index: 10;
    margin: 0;
    padding: 0;
    position: fixed;
    height: 100%; */

  }

}

@media screen and (max-width:772px) {
  .main-navbar-list2-list {
    /* display: none; */
  }

  .main-navbar-list2-button button::after {
    display: none;
  }

  .main-navbar-list1-logo-icon img {
    width: 180px;
  }

  .main-navbar {
    padding: 20px 50px;
  }

  .main-navbar-list2-button button {
    padding: 9px 10px;
    font-size: 13px;
  }


}